@font-face {
  font-family: 'Flat-UI-Icons';
  src: url("./fonts/Flat-UI-Icons.eot");
  src: url("./fonts/Flat-UI-Icons.eot?#iefix") format("embedded-opentype"), url("./fonts/Flat-UI-Icons.woff") format("woff"), url("./fonts/Flat-UI-Icons.ttf") format("truetype"), url("./fonts/Flat-UI-Icons.svg#Flat-UI-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/fonts\.scss}line{font-family:\000038}}
.icon {
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
