@import url(h5bp.css);
@import url(bootstrap.css);
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\000037}}
html, body, .container, .main-page {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\0000312}}
.background-image {
  height: 220%;
  width: 220%;
  position: absolute;
  top: -50%;
  left: -50%;
  background: url(/images/bg2.jpg);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\0000330}}
button {
  background: transparent;
  margin: 0;
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\0000336}}
.main-page .content {
  height: 100%;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -mox-flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\0000342}}
.dialog-wrapper {
  width: 50%;
  height: 200px;
  margin-top: -340px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\0000347}}
.dialog-wrapper .hd, .dialog-wrapper .bd {
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\0000349}}
.dialog-wrapper .hd {
  display: flex;
  display: -webkit-flex;
  display: -mox-flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  height: 320px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\0000353}}
.dialog-wrapper .hd .info {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\0000356}}
.dialog-wrapper .hd:hover .info {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\0000359}}
.dialog-wrapper .bd {
  margin-top: 40px;
  border-radius: 20px;
  background: white;
  position: relative;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\0000367}}
.dialog-wrapper .bd:after {
  content: " ";
  position: absolute;
  top: 0;
  margin-top: -40px;
  left: 50%;
  margin-left: -20px;
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\0000380}}
.dialog-wrapper .cover {
  overflow: hidden;
  height: 320px;
  width: 320px;
  background: white;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\0000388}}
.dialog-wrapper .cover:before {
  border-radius: 50%;
  display: block;
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 0px 10px rgba(255, 255, 255, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\0000397}}
.dialog-wrapper .info {
  background: white;
  border-radius: 20px;
  position: absolute;
  width: 330px;
  height: 330px;
  margin-left: -165px;
  margin-top: -105px;
  top: 50%;
  left: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003111}}
.dialog-wrapper .info-cover {
  height: 200px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003114}}
.dialog-wrapper .title {
  margin-top: -100px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  font-size: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003121}}
.dialog-wrapper .info-action {
  margin-top: 70px;
  height: 30px;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003125}}
.dialog-wrapper .info-action button {
  min-width: 100px;
  text-shadow: 1px 1px 1px black;
  font-size: 25px;
  display: inline-block;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003131}}
.dialog-wrapper .info-detail {
  font-size: 12px;
  padding: 0px 10px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003134}}
.dialog-wrapper .info-detail p {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003139}}
.dialog-wrapper .bd {
  height: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003141}}
.dialog-wrapper .question {
  overflow: hidden;
  height: 130px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003145}}
.dialog-wrapper blockquote {
  padding: 40px 40px 0;
  font-size: 18px;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003149}}
.dialog-wrapper blockquote:before, .dialog-wrapper blockquote:after {
  content: " ";
  padding-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003152}}
.dialog-wrapper blockquote:before {
  background: url("http://img3.douban.com/pics/quotel.gif") no-repeat 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003154}}
.dialog-wrapper blockquote:after {
  background: url("http://img3.douban.com/pics/quoter.gif") no-repeat 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003157}}
.dialog-wrapper .select {
  display: flex;
  display: -webkit-flex;
  display: -mox-flex;
  height: 70px;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 40px;
  border-radius: 0 0 20px 20px;
  background: #060709;
  box-shadow: inset 0px 4px 10px 4px black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003166}}
.dialog-wrapper .select button {
  margin-top: 20px;
  height: 30px;
  border-radius: 5px;
  min-width: 80px;
  color: #ecf0f1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003172}}
.dialog-wrapper .select button.yes {
  background: #27ae60;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003174}}
.dialog-wrapper .select button.no {
  background: #c0392b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/houkanshan\/studio\/javascript\/nox\/nox\/static\/app\/styles\/index\.sass}line{font-family:\00003176}}
.dialog-wrapper .select button.unknow {
  background: #7f8c8d;
}
