{% verbatim %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <title>nox</title>
        <link rel="stylesheet" href="static/styles/index.css">
    </head>
    <body>
        <div class="background-image">
          <canvas class="bg-canvas"></canvas>
        </div>
        <!-- Main container. -->
        <div id="main" class="container">
        </div>
        <script id="background-image-tmpl" type="template">
          <img src="{{= url}}" />
        </script>

        <script id="main-page-tmpl" type="template">
          <header></header>
          <div class="content">
            <div class="dialog-wrapper">
              <div class="hd movie-panel"></div>
              <div class="bd question-wrapper"></div>
            </div>
          </div>
          <footer></footer>
        </script>

        <script id="movie-panel-tmpl" type="template">
          <div class="cover">
            <img src="{{= cover_url}}" alt="{{= name}}" />
          </div>
          <div class="info" data-id="{{= id}}">
            <div class="info-cover">
              <img src="{{= cover_url}}" alt="{{= name}}" />
            </div>
            {{ if (name.length){ }}
            <div class="title">{{= name}}</div>
            <div class="info-action">
              <button class="like icon" data-url="{{= 'http://movie.douban.com/subject/' + id + '/'}}"></button>
              <button class="delete icon"></button>
            </div>
            <div class="info-detail">
              <p>评星: {{= rate}}</p>
              <p>标签: {{= tags}}</p>
              <p>评价人数: {{= people}}</p>
            </div>
            {{ } else { }}
            <div class="info-addition">
              {{= summary}}
            </div>
            <div class="info-addition-action">
              <button class="restart icon">&nbsp; 我要重来</button>
            </div>
            {{ } }}
          </div>
          {{ if (name.length){ }}
          <div class="back-panel">
            <section class="left-top directiors">
              <div class="box">
                <em> 导演 </em>
                <p> {{= directors}} </p>
                <em> 编剧 </em>
                <p> {{= editors}} </p>
                <em> 演员 </em>
                <p> {{= actors}}</p>
              </div>
              <div class="box">
                <em> 语言 </em>
                <p>{{= language}}</p>
                <em> 制片国/地区 </em>
                <p>{{= countries}}</p>
                <em> 片长 </em>
                <p>{{= length}}</p>
                <em> 类型 </em>
                <p>{{= types}}</p>
              </div>
            </section>
            <section class="right-top">
              <div class="box">
                <em> 上映日期 </em>
                <p>{{= year}}</p>
              </div>
              <div class="box">
                <em> 概述 </em>
                <p class="summary">{{= summary}}</p>
              </div>
            </section>
          </div>
          {{ } }}
        </script>

        <script id="question-dialog-tmpl" type="template">
          <div class="question">
            <blockquote>
              {{= question }}
            </blockquote>
          </div>
          <div class="select">
            <button class="unknow" type="submit" name="result" value="0">不知道</button>
            <button class="yes" type="submit" name="result" value="1">是的</button>
            <button class="no" type="submit" name="result" value="-1">不是的</button>
          </div>
        </script>

        <script id="result-dialog-tmpl" type="template">
          <div class="hd">
            <div class="avatar">
              <img src="" alt="" />
            </div>
          </div>
          <div class="bd">
            <div class="question">
              <blockquote>
                {{= question }}
              </blockquote>
            </div>
            <div class="result-button">
              <button class="again" type="submit" name="result" value="1">猜对了？再来一次</button>
              <button class="again" type="submit" name="result" value="-1">猜错了？再来一次</button>
            </div>
          </div>
        </script>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <!-- build:js scripts/amd-app.js -->
        <script data-main="static/scripts/config" src="static/scripts/libs/require.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--<script>-->
            <!--var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];-->
            <!--(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];-->
            <!--g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';-->
            <!--s.parentNode.insertBefore(g,s)}(document,'script'));-->
        <!--</script>-->
    </body>
</html>
{% endverbatim %}
